<div class="page-sidebar-wrapper">
      <!-- BEGIN SIDEBAR -->
      <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
      <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
      <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
          <li class="nav-item start active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Dashboard</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
            <ul class="sub-menu">
              <li class="nav-item start ">
                <a href="dashboard_3.html" class="nav-link ">
                                        <i class="icon-graph"></i>
                                        <span class="title">Dashboard 3</span>
                                        <span class="badge badge-danger">5</span>
                                    </a>
              </li>
            </ul>
          </li>

          <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-briefcase"></i>
                                <span class="title">Tables</span>
                                <span class="arrow"></span>
                            </a>
            <ul class="sub-menu">

              <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">Datatables</span>
                                        <span class="arrow"></span>
                                    </a>
                <ul class="sub-menu">
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_managed.html" class="nav-link "> Managed Datatables </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_buttons.html" class="nav-link "> Buttons Extension </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_colreorder.html" class="nav-link "> Colreorder Extension </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_rowreorder.html" class="nav-link "> Rowreorder Extension </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_scroller.html" class="nav-link "> Scroller Extension </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_fixedheader.html" class="nav-link "> FixedHeader Extension </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_responsive.html" class="nav-link "> Responsive Extension </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_editable.html" class="nav-link "> Editable Datatables </a>
                  </li>
                  <li class="nav-item ">
                    <a href="../admin_4/table_datatables_ajax.html" class="nav-link "> Ajax Datatables </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <!-- END SIDEBAR MENU -->
      </div>
    